.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  width: 500px;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: auto;
}

.text {
  display: block;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 15px;
}

.title {
  line-height: 1.15;
  font-size: 1.3rem;
}

.input {
  display: block;
  width: 100%;
  height: 30px;
}

.button {
  display: block;
  width: 100%;
  padding: 10px 0;
}

.button:disabled {
  cursor: progress;
}

.success {
  color: green;
}

.error {
  color: red;
}

.divider {
  margin-top: 10px;
  margin-bottom: 10px;
}

.outlineBlack {
  outline: 2px solid black;
}

.mb3 {
  margin-bottom: 10px;
}

.label {
  font-size: 12px;
}

.datePicker {
  outline: 0.5px rgba(0, 0, 0, 0.1) solid;
  padding: 5px;
  border-radius: 3px;
}

.btn {
  z-index: 0;
}

.flexColumn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flexRow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.flexRowNoWrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.prefix {
  opacity: 0.5;
}
